/* App */
.App {
/*
	height: 100%;
	min-height: 100vh;
	width: 100%;
	min-width: 450px;
	font-family: Tahoma, Geneva, sans-serif;
*/
	text-align: center;
	font-family: Georgia, serif;
	color: #1d1d1f;
}

.App select {
	height: 20px;
	width: 175px;
	text-align-last: center;
}

.App input {
	width: 175px;
	text-align: center;
}

/* page headers & information */
/*
.Title {
	background-color: darkgray;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 4em;
}
*/

/*
.Status {
	background-color: darkgray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}
*/

.Navigation {
/*
	background-color: lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
*/
}

/*
.NavLink {
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
}

.NavLink:hover {
	text-decoration: overline;
}

.NavLink:visited {
	color: black;
}

.NavLink-current {
	background-color: darkgray;
}
*/

/* Home container */
.Home {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Info page elements */
.Info {
	padding-top: 20px;
	padding-bottom: 20px;
}

.Info p {
	width: 425px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/* Drill page elements */
.Filters {
	padding-top: 20px;
	padding-bottom: 20px;
}

.Filters div {
	padding-top: 3px;
	padding-bottom: 3px;
}

#div-cl {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Manage page elements */
.Manage {
	padding-top: 20px;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
}

.AddAlbumForm {
	grid-column: 1 / 2;
	grid-row: 1 / 1;
}

.AddAlbumForm div {
	padding-top: 3px;
	padding-bottom: 3px;
}

#div-sb {
	padding-top: 10px;
	padding-bottom: 10px;
}

.AddAttributes {
	grid-column: 2 / 2;
	grid-row: 1 / 1;
}

.AddAttributes form {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Show Albums elements */
.ShowAlbums {
	padding-bottom: 20px;
}

.Albums {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
}

.Album {
	height: auto;
	width: 200px;
	box-shadow: 1px 1px 4px lightgray;
	padding: 5px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Album span {
	font-size: 0.8em;
}

/* Root page elements */
.Root {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* unmatched URL page elements */
.NotFound {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* buttons */
/*
.btn-lo {
	background-color: lightgray;
	background: none;
	border: none;
	padding: 0 2px 0;
	font: inherit;
	font-size: inherit;
}

.btn-lo:hover {
	text-decoration: overline;
}
*/

.btn-cl {
	padding-left: 20px;
	padding-right: 20px;
}

.btn-sb input {
	width: auto;
}

.btn-cl:hover, .btn-sb input:enabled:hover, .btn-rs:hover, .input-btn:hover, .btn-dl:hover {
	border-width: 1px;
	border-color: black;
}


/* updated css */

/* header */
header {
	background-color: #0a0a0a;
	padding: 3% 1%;
	font-family: Tahoma, sans-serif;
	font-weight: 600;
	font-size: 4em;
	color: #f5f5f7;
}

/* Navigation elements */
nav {
	background-color: #f3f4f4;
	padding: 1% 1%;
	font-family: Tahoma, sans-serif;
	font-size: 1.5em;
}

.NavLink {
	padding: 0 2%;
	margin: 0 8%;
	text-decoration: none;
}

.NavLink:visited {
	color: #1d1d1f
}

.NavLink:hover {
	color: #0066c9
}

.NavLink-current::before {
	content: "â— "
}

/* Status elements */
.App > section {
	background-color: #fafafa;
	padding: 0.5% 1%;
	font-family: Tahoma, sans-serif;
	font-size: 0.9em;
	color: #333333;
}

.App > section > span {
	color: #0066c9
}

.App > section > span:hover {
	text-decoration: underline
}
