/* App */
.App {
/*
	height: 100%;
	min-height: 100vh;
	width: 100%;
	min-width: 450px;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #ffffff;
	text-align: center;
	font-family: Georgia, serif;
	color: #1d1d1f;
*/
}

.App select {
/*
	height: 20px;
	width: 175px;
	text-align-last: center;
*/
}

.App input {
/*
	width: 175px;
	text-align: center;
*/
}

/* page headers & information */
/*
.Title {
	background-color: darkgray;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 4em;
}
*/

/*
.Status {
	background-color: darkgray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}
*/

.Navigation {
/*
	background-color: lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
*/
}

/*
.NavLink {
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
}

.NavLink:hover {
	text-decoration: overline;
}

.NavLink:visited {
	color: black;
}

.NavLink-current {
	background-color: darkgray;
}
*/

/* Home container */
.Home {
/*
	padding-top: 20px;
	padding-bottom: 20px;
*/
}

/* Info page elements */
.Info {
/*
	padding-top: 20px;
	padding-bottom: 20px;
*/
}

.Info p {
/*
	width: 425px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
*/
}

/* Drill page elements */
.Filters {
/*
	padding-top: 20px;
	padding-bottom: 20px;
*/
}

.Filters div {
/*
	padding-top: 3px;
	padding-bottom: 3px;
*/
}

#div-cl {
/*
	padding-top: 10px;
	padding-bottom: 10px;
*/
}

/* Manage page elements */
.Manage {
/*
	padding-top: 20px;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
*/
}

/*
.AddAlbumForm {
	grid-column: 1 / 2;
	grid-row: 1 / 1;
}
*/

/*
.AddAlbumForm div {
	padding-top: 3px;
	padding-bottom: 3px;
}
*/

/*
#div-sb {
	padding-top: 10px;
	padding-bottom: 10px;
}
*/

/*
.AddAttributes {
	grid-column: 2 / 2;
	grid-row: 1 / 1;
}

.AddAttributes form {
	padding-top: 3px;
	padding-bottom: 3px;
}
*/

/* Show Albums elements */
/*
.ShowAlbums {
	padding-bottom: 20px;
}
*/

.Albums {
/*
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
*/
}

.Album {
/*
	height: auto;
	width: 200px;
	box-shadow: 1px 1px 4px lightgray;
	padding: 5px;
	margin-bottom: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
*/
}

.Album span {
/* 	font-size: 0.8em; */
}

/* Root page elements */
.Root {
/*
	padding-top: 20px;
	padding-bottom: 20px;
*/
}

/* unmatched URL page elements */
.NotFound {
/*
	padding-top: 20px;
	padding-bottom: 20px;
*/
}

/* buttons */
/*
.btn-lo {
	background-color: lightgray;
	background: none;
	border: none;
	padding: 0 2px 0;
	font: inherit;
	font-size: inherit;
}

.btn-lo:hover {
	text-decoration: overline;
}
*/

.btn-cl {
/*
	padding-left: 20px;
	padding-right: 20px;
*/
}

.btn-sb input {
/* 	width: auto; */
}

/* .btn-cl:hover, .btn-sb input:enabled:hover, .btn-rs:hover, .btn-dl:hover */ {
/*
	border-width: 1px;
	border-color: black;
*/
}


/* updated css */
/* global */
.App {
	background-color: #ffffff;
	text-align: center;
	font-family: Georgia, serif;
	color: #1d1d1f;
}

main {
	display: grid;
	grid-template: auto / 49% 49%;
	grid-gap: 1% 2%;
	padding: 4% 2% 1%;
}

main > section > h2 {
	font-weight: 100
}

input {
	box-sizing: border-box;
	width: 175px;
	padding: 0;
	text-align: center;
}

table {
	border-spacing: 0.3em 0.9em;
	padding: 0 2%;
}

tr {
	vertical-align: middle
}

td:first-child {
	text-align: right
}

tr:last-child > td {
	padding-top: 0.9em
}

select {
	width: 175px;
	text-align-last: center;
}

button:hover {
	color: #0066c9
}

/* header */
header {
	background-color: #0a0a0a;
	padding: 3% 1%;
	font-family: Tahoma, sans-serif;
	font-weight: 600;
	font-size: 4em;
	color: #f5f5f7;
}

/* Navigation elements */
nav {
	background-color: #f3f3f4;
	padding: 1% 1%;
	font-family: Tahoma, sans-serif;
	font-size: 1.5em;
}

.NavLink {
	padding: 0 2%;
	margin: 0 8%;
	text-decoration: none;
}

.NavLink:visited {
	color: #1d1d1f
}

.NavLink:hover {
	color: #0066c9
}

.NavLink-current::before {
	content: "â— "
}

/* Status elements */
.App > section {
	background-color: #fafafa;
	padding: 0.5% 1%;
	font-family: Tahoma, sans-serif;
	font-size: 0.9em;
	color: #333333;
}

.App > section > span {
	color: #0066c9
}

.App > section > span:hover {
	text-decoration: underline
}

/* Home page elements */
main.Home > section {
	grid-column: span 2;
	padding: 0 0 5%;
	justify-self: center;
}

main.Home input {
	display: block;
	width: 200px;
	padding: 1% 1%;
	margin: 4% 0%;
	text-align: center;
}

main.Home input:last-child {
	margin-top: 12%
}

main.Home input:last-child:enabled:hover {
	color: #0066c9
}

/* Drill page elements */
main.Drill {
	grid-template: auto / 32.7% 65.3%
}

main.Drill > section:first-child {
	margin-left: auto;
	margin-right: auto;
}

/* ShowAlbumsContainer elements */

div.Albums {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

div.Album {
	height: auto;
	width: 200px;
	margin: 1% 1%;
	border: 1px solid #f3f3f4;
}

div.Album > h4 {
	padding: 1.33em 3%;
	margin: 0;
	background-color: #f3f3f4;
}

div.Album > p {
	padding: 0 3%;
	font-size: 0.9em;
}

div.Album > div {
	display: inline-block;
	padding: 5% 5%;
	text-align: left;
}

div.Album > div > p {
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

div.Album > button {
	display: block;
	margin: 5% auto 5%;
	font-size: 0.7em;
}

/* Manage page elements */
main.Manage > section:first-child {
	margin-left: auto;
	margin-right: auto;
}

main.Manage > section:first-child tr:last-child input {
	width: auto;
	padding: 1px 6px;
}

main.Manage > section:first-child tr:last-child input:enabled:hover {
	color: #0066c9
}

main.Manage > section:nth-child(2) {
	margin-left: auto;
	margin-right: auto;
}

main.Manage > section:nth-child(2) tr:last-child > td {
	padding-top: 0
}

main.Manage > section:nth-child(2) form input:nth-of-type(1) {
	margin: 0 0.5em
}

main.Manage > section:nth-child(2) form input:nth-of-type(2) {
	width: auto;
	padding: 1px 6px;
}

main.Manage > section:nth-child(2) form input:nth-of-type(2):enabled:hover {
	color: #0066c9
}

main.Manage > section:last-child {
	grid-column: span 2
}

/* Info page elements */
main.Info p {
	min-width: 300px;
	max-width: 600px;
	padding: 0 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

/* unmatched URL page & Root page elements */
main.NotFound > section, main.Root > section {
	grid-column: span 2
}
