.App {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	min-width: 450px;
	text-align: center;
}

.Title {
	background-color: darkgray;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 4em;
}

.Status {
	background-color: darkgray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
}

.Navigation {
	background-color: lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
}

.NavLink {
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
}

.NavLink:hover {
	text-decoration: overline;
}

.NavLink:visited {
	color: black;
}

.NavLink-current {
	background-color: darkgray;
}

.Filters {
	padding-top: 20px;
	padding-bottom: 20px;
}

.Filter-item {
	padding-top: 3px;
	padding-bottom: 3px;
}

.Filter-select {
	width: 150px;
}

.Filter-clear {
	padding-top: 10px;
	padding-bottom: 10px;
}


.ShowAlbums {
	padding-top: 20px;
	padding-bottom: 20px;	
}

.Albums {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
}

.Album {
	height: 150px;
	width: 150px;
	box-shadow: 1px 1px 4px lightgray;
	margin-bottom: 15px;
}

.btn-lo {
	background-color: lightgray;
	background: none;
	border: none;
	padding: 0 2px 0;
	font: inherit;
	font-size: inherit;
}

.btn-lo:hover {
	text-decoration: overline;
}

.btn-rs:hover {
	border-width: 1px;
	border-color: black;
}

.btn-cl {
	padding-left: 20px;
	padding-right: 20px;
}

.btn-cl:hover {
	border-width: 1px;
	border-color: black;
}

/*
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
*/
