/* global */
.App {
	background-color: #ffffff;
	text-align: center;
	font-family: Georgia, serif;
	color: #1d1d1f;
}

main {
	display: grid;
	grid-template: auto / 49% 49%;
	grid-gap: 1% 2%;
	padding: 4% 2% 1%;
}

main > section > h2 {
	font-weight: 100
}

input {
	box-sizing: border-box;
	width: 175px;
	padding: 0;
	text-align: center;
}

table {
	border-spacing: 0.3em 0.6em;
	padding: 0 2%;
}

tr {
	vertical-align: middle
}

td:first-child {
	text-align: right
}

tr:last-child > td {
	padding-top: 5%
}

select {
	width: 175px;
	text-align-last: center;
}

button:hover {
	color: #0066c9
}

/* header */
header {
	background-color: #0a0a0a;
	padding: 3% 1%;
	font-family: Tahoma, sans-serif;
	font-weight: 600;
	font-size: 4em;
	color: #f5f5f7;
}

/* Navigation elements */
nav {
	background-color: #f3f3f4;
	padding: 1% 1%;
	font-family: Tahoma, sans-serif;
	font-size: 1.5em;
}

.NavLink {
	padding: 0 2%;
	margin: 0 8%;
	text-decoration: none;
}

.NavLink:visited {
	color: #1d1d1f
}

.NavLink:hover {
	color: #0066c9
}

.NavLink-current::before {
	content: "â— "
}

/* Status elements */
.App > section {
	background-color: #fafafa;
	padding: 0.5% 1%;
	font-family: Tahoma, sans-serif;
	font-size: 0.9em;
	color: #333333;
}

.App > section > span {
	color: #0066c9
}

.App > section > span:hover {
	text-decoration: underline
}

/* Home page elements */
main.Home > section {
	grid-column: span 2;
	padding: 0 0 5%;
	justify-self: center;
}

main.Home input {
	display: block;
	margin: 5% 0;
	text-align: center;
}

main.Home input:last-child {
	width: auto;
	padding: 1px 6px;
	margin: 12% auto;
}

main.Home input:last-child:enabled:hover {
	color: #0066c9
}

/* Drill page elements */
main.Drill {
	grid-template: auto / 32.7% 65.3%
}

main.Drill > section:first-child {
	margin-left: auto;
	margin-right: auto;
}

/* ShowAlbumsContainer elements */

div.Albums {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

div.Album {
	height: auto;
	width: 200px;
	margin: 1% 1%;
	border: 1px solid #f3f3f4;
}

div.Album > h4 {
	padding: 10% 3%;
	margin: 0;
	background-color: #f3f3f4;
}

div.Album > p {
	padding: 0 3%;
	font-size: 0.9em;
}

div.Album > div {
	display: inline-block;
	padding: 5% 5%;
	text-align: left;
}

div.Album > div > p {
	padding: 0;
	margin: 0;
	font-size: 0.8em;
}

div.Album > button {
	display: block;
	margin: 5% auto;
	font-size: 0.7em;
}

/* Manage page elements */
main.Manage > section:first-child {
	margin-left: auto;
	margin-right: auto;
}

main.Manage > section:first-child tr:last-child input {
	width: auto;
	padding: 1px 6px;
}

main.Manage > section:first-child tr:last-child input:enabled:hover {
	color: #0066c9
}

main.Manage > section:nth-child(2) {
	margin-left: auto;
	margin-right: auto;
}

main.Manage > section:nth-child(2) tr:last-child > td {
	padding-top: 0
}

main.Manage > section:nth-child(2) form input:nth-of-type(1) {
	margin: 0 0.3em
}

main.Manage > section:nth-child(2) form input:nth-of-type(2) {
	width: auto;
	padding: 1px 6px;
}

main.Manage > section:nth-child(2) form input:nth-of-type(2):enabled:hover {
	color: #0066c9
}

main.Manage > section:last-child {
	grid-column: span 2
}

/* Info page elements */
main.Info p {
	min-width: 300px;
	max-width: 600px;
	padding: 0 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

/* unmatched URL page & Root page elements */
main.NotFound > section, main.Root > section {
	grid-column: span 2
}

/* responsive design */
@media only screen and (max-width: 1050px) {
/* Drill page elements */
	main.Drill > section {
		grid-column: span 2
	}
}

@media only screen and (max-width: 800px) {
/* global */
	.App, input, select, button {
		font-size: 0.9em
	}
}

@media only screen and (max-width: 750px) {
/* Manage page elements */
	main.Manage > section {
		grid-column: span 2
	}
}

@media only screen and (max-width: 700px) {
/* Info page elements */
	main.Info > section {
		grid-column: span 2
	}

	main.Info p {
		max-width: 450px
	}
}

@media only screen and (max-width: 450px) {
/* global */
	.App, input, select, button {
		font-size: 0.85em
	}

	input, select {
		width: 150px
	}
}
